body {
	position: inherit;
}
.joyride-content-wrapper {
	background:  rgba(22, 22, 22, 0.93);
}

.joyride-tip-guide .joyride-next-tip {
	background: #ffc425;
	border: none;
	color: black;
	
}

.joyride-tip-guide a:focus {
	outline: none;
}

.joyride-tip-guide a:hover {
	border: none;
	background: #e0b232;
}

.joyride-next-tip:hover {
	color: black !important; 
	border: none !important;
}

.joyride-expose-wrapper {
	background-color: rgba(255, 255, 255, .3);
	border: solid 1px white;
	box-shadow: none;
}


#start-tour {
	position: fixed;
	display: block;
	bottom: 50%;
	right: 0;
	padding: .75em .5em;
	background: #ffc425;
	color: #3c3c3c;
	font-weight: bold;
	z-index: 999;
}