@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic,800,800italic);

@font-face {
	font-family: $global-font-family-icon;
	src:url('/sites/all/themes/vermeer/files/fonts/icomoon/fonts/icomoon.eot?-58ufgn');
	src:url('/sites/all/themes/vermeer/files/fonts/icomoon/fonts/icomoon.eot?#iefix-58ufgn') format('embedded-opentype'),
		url('/sites/all/themes/vermeer/files/fonts/icomoon/fonts/icomoon.woff?-58ufgn') format('woff'),
		url('/sites/all/themes/vermeer/files/fonts/icomoon/fonts/icomoon.ttf?-58ufgn') format('truetype'),
		url('/sites/all/themes/vermeer/files/fonts/icomoon/fonts/icomoon.svg?-58ufgn#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"].before:before,
[class*=" icon-"].before:before,
[class^="icon-"].after:after,
[class*=" icon-"].after:after
{
	font-family: $global-font-family-icon;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-star.before:before, .icon-star.after:after 				{ content: "\e60a"; }
.icon-search2.before:before, .icon-search2.after:after 			{ content: "\e60b"; }
.icon-person.before:before, .icon-person.after:after 			{ content: "\e60c"; }
.icon-close.before:before, .icon-close.after:after				{ content: "\e609"; }
.icon-tribar.before:before, .icon-tribar.after:after			{ content: "\e608"; }
.icon-external.before:before, .icon-external.after:after 		{ content: "\e607"; }
.icon-arrow-left.before:before, .icon-arrow-left.after:after 	{ content: "\e605"; }
.icon-arrow-right.before:before, .icon-arrow-right.after:after 	{ content: "\e606"; }
.icon-facebook.before:before, .icon-facebook.after:after 		{ content: "\f09a"; }
.icon-linkedin.before:before, .icon-linkedin.after:after 		{ content: "\f0e1"; }
.icon-youtube.before:before, .icon-youtube.after:after 			{ content: "\f167"; }
.icon-twitter.before:before, .icon-twitter.after:after 			{ content: "\f099"; }
.icon-search.before:before, .icon-search.after:after 			{ content: "\e601"; }
.icon-expand.before:before, .icon-expand.after:after 			{ content: "\e602"; }
.icon-email.before:before, .icon-email.after:after 				{ content: "\e600"; }
.icon-phone.before:before, .icon-phone.after:after 				{ content: "\e603"; }
.icon-arrow-down.before:before, .icon-arrow-down.after:after 	{ content: "\e604"; }
