@import "compass/css3/animation";
@import "compass/css3/appearance";
@import "compass/css3/background-size";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/box-sizing";
@import "compass/css3/images";
@import "compass/css3/opacity";
@import "compass/css3/text-shadow";
@import "compass/css3/transform";
@import "compass/css3/transition";

@import "template/global/mixins";

$experimental-support-for-svg: false;

/* Font */
$global-font-family: 'Open Sans', sans-serif;
$global-font-family-icon: 'icomoon';
$global-font-size: 13px;

/* Colors */
$global-font-color-darkest: #000;
$global-font-color-dark: #333;
$global-font-color-medium: #666;
$global-font-color-light: #999;
$global-font-color-faint: #ccc;
$global-vermeer-yellow: #ffc425;
$global-vermeer-yellow-dark: #c7991d;
$global-font-color-red: #942323;

$global-page-bgcolor: #fff;
$global-transition: .2s all linear;
$global-shadow: 1px 1px 5px #000;

/* Dimensions */
$global-margin: 12px;
$global-width-site: 940px;
$global-aside-width: 220px;
$global-header-height: 87px;

/* Z-Index Layers */
$utility-z-index: 10;

/* Breakpoints */
$global-breakpoint-canvasflexible: $global-width-site;
$global-breakpoint-tablet: 800px;
$global-breakpoint-phablet: 660px;
$global-breakpoint-mobilelandscape: 480px;
$global-breakpoint-mobileportrait: 320px;

$global-content-padding: 20px;
$global-container-padding: 20px;
$global-scrollbar-width: 20px;
$global-breakpoint-mod: ($global-container-padding * 2) + $global-scrollbar-width;

/* Paths */
$global-image-build-path: "files/images/_build/";