/*
http://thesassway.com/intermediate/responsive-web-design-in-sass-using-media-queries-in-sass-32
http://css-tricks.com/naming-media-queries/

Usage:

@include responsive(canvasflexible)
{
	html { width: 100%; }
}

...

@include responsive(canvasflexible)
@include responsive(phablet)
@include responsive(mobilelandscape)
@include responsive(mobileportrait)

*/
@mixin responsive($media) {
	@if $media == canvasflexible {		
		@media (max-width: $global-breakpoint-canvasflexible + $global-breakpoint-mod) { @content; } /* 940 + 60 = 1000 */
	}
	@else if $media == tabletportrait {
		@media (max-width: $global-breakpoint-tablet + $global-breakpoint-mod) { @content; } /* 800 + 60 = 860 */
	}
	@else if $media == phablet {
		@media (max-width: $global-breakpoint-phablet + $global-breakpoint-mod) { @content; } /* 660 + 60 = 720 */
	}
	@else if $media == mobilelandscape {
		@media (max-width: $global-breakpoint-mobilelandscape) { @content; } /* 480 */
	}
	@else if $media == mobileportrait {		
		@media (max-width: $global-breakpoint-mobileportrait) { @content; } /* 320 */
	}
}



@mixin vw($fallback, $vw)
{
font-size: $fallback;
font-size: $vw;
}



@mixin breakpoints($bp)
{

#specificity [data-hide-breakpoint="#{$bp}"] { display: none; }
#specificity [data-show-breakpoint="#{$bp}"] { display: block; }

#specificity [data-static-breakpoint="#{$bp}"] { position: static; }

#specificity [data-unfloat-bp="#{$bp}"]
{
float: none;
clear: both;
}

#specificity [data-content-left-bp="#{$bp}"] { float: left; }
#specificity [data-margin-right-bp="#{$bp}"] { margin-right: $global-margin * 1.5; }

#specificity [data-full-width-bp="#{$bp}"]
{
margin-left: 0px;
margin-right: 0px;
max-width: none;
width: 100%;
@include box-sizing(border-box);
}

#specificity [data-max-width-35-bp="#{$bp}"] { max-width: 35%; }

#specificity [data-margin-vertical-bp="#{$bp}"]
{
margin-top: $global-margin;
margin-bottom: $global-margin;
}

#specificity [data-margin-bottom-2x-bp="#{$bp}"] { margin-bottom: $global-margin * 2; }

}