html, body, h1, h2, h3, h4, h5, h6, img, blockquote, q, table, thead, tbody, tfoot, caption, th, tr, td, a, form, input, textarea, fieldset, pre,
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video
{ margin: 0px; padding: 0px; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main
{ display: block; }

a img, img { border: none; }
a { text-decoration: none; }
img
{
display: block; /* http://developer.mozilla.org/en/docs/Images,_Tables,_and_Mysterious_Gaps */
-ms-interpolation-mode: bicubic; /* http://css-tricks.com/ie-fix-bicubic-scaling-for-images/ */
image-rendering: optimizeQuality; /* https://developer.mozilla.org/En/CSS/Image-rendering */
}

ul, ol, p, blockquote, code, fieldset, table, h2, h3, h4, h5, h6, .default-margin, .hr
{
margin-top: 12px;
margin-bottom: 12px;
}

th, b, strong, h1, h2, h3, h4, h5, h6 { font-weight: bold; }