a, .hover-default:hover { color: $global-vermeer-yellow-dark; }

a.bright { color: $global-vermeer-yellow; }
a.inherit { color: inherit; }

.hover-default,
.hover-lighten
{ @include transition($global-transition); }

.hover-lighten:hover { opacity: .6; }


/******************************* Hover Effects ********************************/
[data-hover-effect]
{
display: block;
position: relative;
z-index: 1;
}

[data-hover-effect]:before,
[data-hover-effect]:after
{
height: 100%;
width: 100%;
opacity: 0;
position: absolute;
left: 0px;
top: 0px;
z-index: 2;
@include transition($global-transition);
}


/******************************* Black/White ********************************/
.opacity [data-hover-effect="black"]:after,
.opacity [data-hover-effect="white"]:after
{ content: ""; }

.opacity [data-hover-effect="black"]:hover:after,
.opacity [data-hover-effect="white"]:hover:after
{ opacity: .1; }

.opacity [data-hover-effect="black"]:hover:after { background-color: #000; }
.opacity [data-hover-effect="white"]:hover:after { background-color: #fff; }


/******************************* Launch Gallery ********************************/
[data-hover-effect="launch-gallery"]
{
position: absolute;
left: 0px;
top: 0px;
height: 100%;
width: 100%;
}

	[data-hover-effect="launch-gallery"]:before
	{
	content: "";
	background-image: url(/sites/all/themes/vermeer/files/images/template/launch-gallery-icon.png);
	background-position: center -100%;
	background-repeat: no-repeat;
	z-index: 3;
	}

	[data-hover-effect="launch-gallery"]:hover:before
	{
	background-position: center;
	opacity: 1;	
	}

	.opacity [data-hover-effect="launch-gallery"]:after
	{
	background-color: #000;
	content: "";
	z-index: 2;
	}

	.opacity [data-hover-effect="launch-gallery"]:hover:after { opacity: .6; }