/**************** Equipment Box ****************/
.equipment-box
{
background-color: #fff;
border-style: solid;
border-width: 1px;
border-color: #eee #eee #ccc #eee;
}

.box.bordered
{
background-color: #fff;
border: 1px solid #ccc;
}