/******************************* Buttons ********************************/
/*********** .button ***********/
.button
{
border-radius: 2px;
@include box-shadow(1px 1px 1px 0px rgba(0,0,0,.4));
display: inline-block;
font-size: $global-font-size + 3;
font-weight: bold;
line-height: 1;
outline: 0;
overflow: hidden;
position: relative;
text-decoration: none !important;
text-shadow: none;
@include transition($global-transition);
-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.button[data-size="large"] { padding: 12px 24px; }

.button[data-size="small"] { padding: 5px 20px; }

input.match-height,
.button[data-size].match-height
{
padding-top: 0px;
padding-bottom: 0px;
height: 26px;
}

.button[data-size].match-height { height: 26px + 1; }

input.match-height + .button[data-size].match-height { margin-left: -4px; }



.button:before, .button:after { font-family: $global-font-family-icon; }

input[type="button"].button,
input[type="reset"].button,
input[type="submit"].button,
button.button
{
/*background-color: transparent;*/
border-width: 0px;
margin: 0px;
}

.button.full-width
{
@include box-sizing(border-box);
width: 100%;
max-width: 100%;
}

/*********** [data-theme=yellow] ***********/
.button[data-theme=yellow]
{
background-color: $global-vermeer-yellow;
color: $global-font-color-darkest;
}

.button[data-theme=yellow]:hover { background-color: lighten($global-vermeer-yellow, 10%); }

/* [tabindex=0] is needed for Webkit to work with :focus - http://stackoverflow.com/questions/5832436/css-focus-not-working-in-safari-and-chrome */
.button[data-theme=yellow]:focus { background-color: darken($global-vermeer-yellow, 5%); }


/*********** [data-theme=light-gray] ***********/
$button-light-gray: #f2f2f2;
.button[data-theme=light-gray]
{
background-color: $button-light-gray;
color: $global-font-color-darkest;
}

.button[data-theme=light-gray]:hover { background-color: darken($button-light-gray, 5%); }
.button[data-theme=light-gray]:focus { background-color: darken($button-light-gray, 10%); }


/*********** Button Popular ***********/
.button-popular
{
border: 1px solid #ccc;
background-color: #f2f2f2;
color: $global-font-color-darkest;
display: inline-block;
font-size: $global-font-size + 1;
font-weight: bold;
line-height: 1;
padding: 8px 0px;
text-align: center;
width: 100%;
@include transition($global-transition);
}

.button-popular:hover { background-color: #e8e8e8; }