/******************************* Lists ********************************/
dl.reset,
dl.reset > dd
{
margin-left: 0px;
margin-top: 0px;
margin-bottom: 0px;
}

.collapse,
.columns,
ul.reset,
ol.reset
{
list-style-type: none;
margin: 0px;
padding: 0px;
}

.collapse,
.columns
{ overflow: hidden; }

.columns ul:not(.columns):not(.collapse):not(.reset) { list-style-type: disc; }

.collapse > li { float: left; }


/******************************* Columns ********************************/
.columns > li
{
float: left;
margin-left: 4%;
}

.columns.columns-3 > li { margin-left: 3%; }
.columns.columns-6 > li { margin-left: 2%; }

.columns > li.column-row
{
clear: left;
margin-left: 0px;
}

.columns-2 > li { width: 48%; }
.columns-3 > li { width: 31.333%; }
.columns-4 > li { width: 22%; }
.columns-4 > li { width: 22%; }
.columns-6 > li { width: 15%; }
.columns-2.columns-75-25 > li { width: 23%; }
.columns-2.columns-75-25 > li.column-row { width: 73%; }
.columns-2.columns-25-75 > li { width: 73%; }
.columns-2.columns-25-75 > li.column-row { width: 23%; }

.columns > li.column-row
{
clear: left;
margin-left: 0px;
}


/******************************* Responsive ********************************/
@mixin columns-single-stack($column)
{

#specificity .columns[data-bp="#{$column}"] > li
{
clear: both;
margin-left: 0px;
width: 100%;
}

#specificity .columns[data-margin-bp="#{$column}"] > li { margin-top: $global-margin; }
#specificity .columns[data-margin-bp="#{$column}"] > li:first-child { margin-top: 0px; }

}


/******************************* Responsive Breakpoint 1 ********************************/
@include responsive(canvasflexible)
{

@include columns-single-stack("canvasflexible");

}

/******************************* Responsive Breakpoint 2 ********************************/
@include responsive(tabletportrait)
{

@include columns-single-stack("tablet");

}


/******************************* Responsive Breakpoint 3 ********************************/
@include responsive(phablet)
{

@include columns-single-stack("phablet");

}


/******************************* Responsive Breakpoint 4 ********************************/
@include responsive(mobilelandscape)
{

@include columns-single-stack("mobilelandscape");

}


/******************************* Responsive Breakpoint 5 ********************************/
@include responsive(mobileportrait)
{

@include columns-single-stack("mobileportrait");

}