/******************************* Fluid-Flex Columns Layouts ********************************/

/**************** Fixed/Fluid ****************/
.fixed-fluid { overflow: hidden; }

	.fixed-fluid > .fluid-wrapper
	{
	float: left;
	width: 100%;
	}

		.fixed-fluid > .fluid-wrapper > .fluid { /*margin-left: 200px;*/ }

	.fixed-fluid > .fixed
	{
	float: left;
	margin-left: -100%;
	/*width: 200px;*/
	}

	/* Main Columns */
	.main-columns.fixed-fluid > .fluid-wrapper > .fluid { margin-left: $global-aside-width + ($global-margin * 2); }
	.main-columns.fixed-fluid > .fixed { width: $global-aside-width; }

/**************** Fluid/Fixed ****************/
.fluid-fixed { overflow: hidden; }

	.fluid-fixed > .fluid-wrapper
	{
	float: left;
	width: 100%;
	}

		.fluid-fixed > .fluid-wrapper > .fluid { /*margin-right: 200px;*/ }

	.fluid-fixed > .fixed
	{
	float: left;
	/*
	margin-left: -200px;
	width: 200px;
	*/
	}

	/* Main Columns */
	.main-columns.fluid-fixed > .fluid-wrapper > .fluid { margin-right: $global-aside-width + ($global-margin * 2); }

	.main-columns.fluid-fixed > .fixed
	{
	margin-left: -$global-aside-width;
	width: $global-aside-width;
	}

/**************** Fixed/Fluid/Fixed ****************/
.fixed-fluid-fixed { overflow: hidden; }

	.fixed-fluid-fixed > .fluid-wrapper
	{
	float: left;
	width: 100%;
	}

		.fixed-fluid-fixed > .fluid-wrapper > .fluid { margin: 0px 200px 0px 300px; }

	.fixed-fluid-fixed > .fixed-left
	{
	float: left;
	margin-left: -100%;
	width: 300px;
	}

	.fixed-fluid-fixed > .fixed-right
	{
	float: left;
	margin-left: -200px;
	width: 200px;
	}


/******************************* Responsive ********************************/
@include responsive(phablet)
{

/**************** Fixed/Fluid ****************/
#specificity .fixed-fluid[data-breakpoint="phablet"] > .fluid-wrapper { float: none; }

	#specificity .fixed-fluid[data-bp="phablet"] > .fluid-wrapper > .fluid { margin-left: 0px; }

#specificity .fixed-fluid[data-bp="phablet"] > .fixed
{
float: none;
margin-left: 0px;
width: auto;
}


/**************** Fluid/Fixed ****************/
#specificity .fluid-fixed[data-bp="phablet"] > .fluid-wrapper { float: none; }

	#specificity .fluid-fixed[data-bp="phablet"] > .fluid-wrapper > .fluid { margin-right: 0px; }

#specificity .fluid-fixed[data-bp="phablet"] > .fixed
{
float: none;
margin-left: 0px;
width: auto;
}

}