/*
* jQuery FlexSlider v2.2.0
* http://www.woothemes.com/flexslider/
*
* Copyright 2012 WooThemes
* Free to use under the GPLv2 license.
* http://www.gnu.org/licenses/gpl-2.0.html
*
* Contributing author: Tyler Smith (@mbmufffin)
*/
/* Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus
{ outline: none; }

.slides,.flex-control-nav,.flex-direction-nav
{
margin: 0;
padding: 0;
list-style: none;
}

/* FlexSlider Necessary Styles
*********************************/
.flexslider
{
margin: 0;
padding: 0;
}

.flexslider .slides > li
{
display: none;
-webkit-backface-visibility: hidden;
}

/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img
{
width: 100%;
display: block;
}

.flex-pauseplay span { text-transform: capitalize; }

/* Clearfix for the .slides element */
.slides:after
{
content: "\0020";
display: block;
clear: both;
visibility: hidden;
line-height: 0;
height: 0;
}

html[xmlns] .slides { display: block; }

* html .slides { height: 1%; }

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
* include js that eliminates this class on page load */
.no-js .slides > li:first-child { display: block; }

/* FlexSlider Default Theme
*********************************/
.flexslider
{
/*margin: 0 0 60px;*/
position: relative;
zoom: 1;
}

.flex-viewport
{
max-height: 2000px;/*
-webkit-transition: all 1s ease;
-moz-transition: all 1s ease;
-o-transition: all 1s ease;
transition: all 1s ease;*/
}

.loading .flex-viewport { max-height: 300px; }

.flexslider .slides { zoom: 1; }

.carousel li { margin-right: 5px; }



/**************** Direction Nav ****************/
.flex-direction-nav { height: 0; }

$flex-nav-padding: 10px;
$flex-nav-size: $global-font-size + 12; /* 25px */

.flex-direction-nav a
{
cursor: pointer;
display: block;
font-family: $global-font-family-icon;
font-size: $flex-nav-size;
margin: -($flex-nav-size) 0 0 0;
position: absolute;
top: 50%;
z-index: $utility-z-index - 2;
overflow: hidden;
padding: $flex-nav-padding;
@include transition($global-transition);
}

.flex-direction-nav .flex-prev { left: 10px; }
.flex-direction-nav .flex-next { right: 10px; }

.flex-direction-nav .flex-prev:after { content: "\e605";  }
.flex-direction-nav .flex-next:after { content: "\e606"; }

.flex-direction-nav .flex-disabled
{
opacity: 0!important;
filter: alpha(opacity=0);
cursor: default;
}

.flex-direction-nav a:before
{
font-size: 40px;
display: inline-block;
}


/**************** Custom Stuff ****************/

/* White Theme */
[data-flexslider-theme="white"] .flex-direction-nav a
{
color: #fff;
text-shadow: $global-shadow;
}

[data-flexslider-theme="white"] .flex-direction-nav a:hover { color: #ccc; }

/* Black Theme */
[data-flexslider-theme="black"] .flex-direction-nav a { color: #222; }
[data-flexslider-theme="black"] .flex-direction-nav a:hover { color: #666; }

/* Outside Arrow */
[data-flexslider-arrows="outside"] .flex-direction-nav a
{
padding-left: 0px;
padding-right: 0px;
}

[data-flexslider-arrows="outside"] .flex-direction-nav .flex-prev { left: -$flex-nav-size; }
[data-flexslider-arrows="outside"] .flex-direction-nav .flex-next { right: -$flex-nav-size; }

/* Kind of a hack to make the design work. It will hide the arrows and make the slider controllable via a horizontal scrollbar */
@media (max-width: $global-breakpoint-canvasflexible + $global-breakpoint-mod + ($flex-nav-size * 2))
{

[data-flexslider-arrows="outside"] .slides
{
padding-bottom: 10px;
}

[data-flexslider-arrows="outside"] .flex-direction-nav a { display: none; }

[data-flexslider-arrows="outside"] .flex-viewport
{
overflow-x: scroll !important;
overflow-y: hidden !important;

/* @iOS 8 */
-webkit-overflow-scrolling: touch;
}

[data-flexslider-arrows="outside"]:after
{
content: "Scroll to view more \00BB";
display: block;
font-weight: bold;
text-align: right;
padding-top: 10px;
}

}



/**************** Control Nav ****************/
.flex-control-nav
{
width: 100%;
position: absolute;
bottom: 25px;
text-align: center;
}

.flex-control-nav li
{
margin: 0 3px;
display: inline-block;
*display: inline;
zoom: 1;
}

.flex-control-paging li a
{
width: 12px;
height: 12px;
display: block;
cursor: pointer;
text-indent: -9999px;
border-radius: 24px;
@include box-shadow(1px 1px 3px black);
@include transition($global-transition);
}

.flex-control-paging li a.flex-active { cursor: default; }

[data-flexslider-theme="white"] .flex-control-paging li a { background: #fff; }

[data-flexslider-theme="white"] .flex-control-paging li a:hover { background-color: #ccc; }

[data-flexslider-theme="white"] .flex-control-paging li a.flex-active { background: #ffc425; }


[data-flexslider-theme="black"] .flex-control-paging li a { background: #000; }

[data-flexslider-theme="black"] .flex-control-paging li a:hover { background: #333; }

[data-flexslider-theme="black"] .flex-control-paging li a.flex-active { background: #ffc425; }


/**************** Pause/Play ****************/
.flex-pauseplay a
{
display: block;
width: 20px;
height: 20px;
position: absolute;
bottom: 5px;
left: 10px;
opacity: 0.8;
z-index: $utility-z-index - 2;
overflow: hidden;
cursor: pointer;
color: $global-font-color-darkest;
}

.flex-pauseplay a:before
{
font-family: flexslider-icon;
font-size: 20px;
display: inline-block;
content: '\f004';
}

.flex-pauseplay a:hover { opacity: 1; }

.flex-pauseplay a.flex-play:before { content: '\f003'; }


/**************** Control Thumbs ****************/
.flex-control-thumbs
{
margin: 5px 0 0;
position: static;
overflow: hidden;
}

.flex-control-thumbs li
{
width: 25%;
float: left;
margin: 0;
}

.flex-control-thumbs img
{
width: 100%;
display: block;
opacity: .7;
cursor: pointer;
}

.flex-control-thumbs img:hover { opacity: 1; }

.flex-control-thumbs .flex-active
{
opacity: 1;
cursor: default;
}