label { font-weight: bold; }

input + label { font-weight: normal; }

textarea,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="search"],
input[type="number"]
{
@include appearance(none);
background-color: #fdfdfd;
@include box-shadow(inset 0px 0px 4px 0px rgba(0,0,0,.25));
border: 1px solid #ccc;
border-radius: 3px;
color: $global-font-color-medium;
font-size: $global-font-size - 1;
line-height: 1;
padding: 5px 8px;
width: 100%;
max-width: 450px;
}

input[data-size=medium] { width: 135px }

.firefox textarea,
.firefox input[type="text"],
.firefox input[type="password"],
.firefox input[type="email"],
.firefox input[type="tel"],
.firefox input[type="url"],
.firefox input[type="search"],
.firefox input[type="number"]
{ @include box-shadow(inset 0px 0px 2px 0px rgba(0,0,0,.1)); }

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="number"]:focus
{ border: 1px solid #aaa; }

/* Removes mac outline */
select, textarea, input, button { outline-width: 0px; }

/* http://css-tricks.com/webkit-html5-search-inputs/ */
input[type="search"]
{
-webkit-appearance: textfield;
-webkit-box-sizing: content-box;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button
{ display: none; }

/* http://stackoverflow.com/questions/2610497/change-an-inputs-html5-placeholder-color-with-css */
input::-webkit-input-placeholder { color: inherit; }
input::-moz-placeholder { color: inherit; }
input:-ms-input-placeholder { color: inherit; }

textarea
{
height: 100px;
line-height: 2;
overflow-y: auto;
resize: both;
}

button
{
cursor: pointer;
line-height: 1;
overflow: visible;
padding: 4px 5px;
width: auto; /* http://www.viget.com/inspire/comments/styling-the-button-element-in-internet-explorer/ */
}

input[type="button"].reset,
input[type="reset"].reset,
input[type="submit"].reset,
button.reset
{
border: 0px;
background-color: transparent;
padding: 0px;
@include appearance(none);
}

input.full-width,
textarea.full-width,
select.full-width
{
@include box-sizing(border-box);
width: 100%;
max-width: 100%;
}

[placeholder] { text-indent: 0%; }

[placeholder]::-webkit-input-placeholder { color: #bbb; }
[placeholder]::-moz-placeholder { color: #bbb; opacity: 1; }
[placeholder]:-ms-input-placeholder { color: #bbb; }

[placeholder]:focus::-webkit-input-placeholder
{
text-indent: -100%;
-webkit-transition: text-indent .5s ease;
transition: text-indent .5s ease;
}

[placeholder]:focus::-moz-placeholder
{
color: #000;
opacity: 0;
-moz-transition: color .5s ease;
transition: color .5s ease;
}

[placeholder]:focus:-ms-placeholder
{
color: #000;
-ms-transition: color .5s ease;
transition: color .5s ease;
}

/******************************* .form ********************************/
.form, .form ul
{
list-style-type: none;
margin: 0px;
padding: 0px;
}

.form > li
{
clear: both;
margin-bottom: $global-margin * 1.5;
overflow: hidden;
}

.form > li label:first-child
{
line-height: 1.5;
display: block;
float: none;
margin-bottom: 4px;
width: 100%;
}

.form > li.required label:after
{
color: #900;
content: "*";
padding-right: 2px;
}