.clear { clear: both; }
.align-left { text-align: left; }
.align-center { text-align: center; }
.align-right { text-align: right; }
.valign-middle { vertical-align: middle; }
.inline { display: inline; }
.block { display: block; }
.inline-block { display: inline-block }
.hidden { display: none; }
.visible { display: block; }
.overflow { overflow: hidden; }
.uppercase { text-transform: uppercase; }
.relative { position: relative; }
.content-left { float: left; }
.content-right { float: right; }
.cursor-waiting { cursor: wait; }
.no-wrap { white-space: nowrap; }
.unbold { font-weight: normal; }

.full-width-image-children img { width: 100%; height: auto; max-width: 100%; @include box-sizing(border-box); }
.full-width { width: 100%; }
.max-width-25 { max-width: 25%; }
.max-width-50 { max-width: 50%; }
.max-width { max-width: 100%; }
.border-box { @include box-sizing(border-box); }

.example-1 { background-color: red; }
.example-2 { background-color: blue; }

.font-color-darkest { color: $global-font-color-darkest; }
.font-color-dark { color: $global-font-color-dark; }
.font-color-medium { color: $global-font-color-medium; }
.font-color-light { color: $global-font-color-light; }
.font-color-faint { color: $global-font-color-faint; }
.font-color-white { color: #fff; }
.price { color: $global-font-color-red; }

[data-font-size="-1"] { font-size: $global-font-size - 1; }
[data-font-size="+1"] { font-size: $global-font-size + 1; }

.shadow-black
{
/* http://msdn.microsoft.com/en-us/library/ms533086%28v=vs.85%29.aspx */
-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(color=#000000,direction=135,strength=4)";
filter: progid:DXImageTransform.Microsoft.Shadow(color=#000000,direction=135,strength=4);
@include text-shadow($global-shadow);
}

.word-break
{
-ms-word-break: break-all;
word-break: break-all;
word-break: break-word;
}

.ellipsis
{
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}

.promote-layer
{
/* This may promote the layer to a composited layer. Replace with will-change when available */
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
}

.unselectable
{
-moz-user-select: none; 
-webkit-user-select: none; 
user-select: none;
}


/******************************* Ratios - http://www.mademyday.de/css-height-equals-width-with-pure-css.html ********************************/
.ratio { position: relative; }

	.ratio:before
	{
	content: "";
	display: block;
	}

	.ratio.ratio2_1:before { padding-top: 50%; }
	.ratio.ratio1_2:before { padding-top: 200%; }
	.ratio.ratio4_3:before { padding-top: 75%; }
	.ratio.ratio16_9:before { padding-top: 56.25%; }
	.ratio.ratio515_330:before { padding-top: 64%; }


/******************************* Filter ********************************/
.filter
{
font-size: $global-font-size - 1;
position: relative;
}

	.filter > dt
	{
	@include box-sizing(border-box);
	cursor: pointer;
	font-weight: bold;
	line-height: 1;
	padding: 6px 7px;
	width: 100%;
	}

	.filter > dt:hover
	{
	background-color: #f7f7f7;
	@include transition($global-transition);
	}

	.filter > dt.active
	{
	background-color: #e7e7e7;
	@include transition(none);
	}

	.filter > dd
	{	
	background-color: #f2f2f2;
	@include box-shadow(0px 4px 5px 0px rgba(0,0,0,.42));
	font-weight: normal;
	padding: 10px;
	position: absolute;
	top: 100%;
	right: 0px;
	z-index: 3;
	text-align: right;
	width: 100%;
	@include box-sizing(border-box);
	}

		.filter > dd a
		{
		color: $global-font-color-medium;
		display: block;
		padding: 8px 0px;
		@include transition($global-transition);
		}
		
		.filter > dd a:hover { color: $global-font-color-darkest; }


/******************************* Background Converted To Round Square ********************************/
.bg-to-round
{
width: 100%;
padding-top: 38%;
background-size: cover;
background-position: center;
}

@include responsive(mobilelandscape)
{

.bg-to-round
{
border-radius: 50%;
border: 1px solid #ccc;
height: 80px;
width: 80px;
padding: 0px;
}

}


/******************************* Horizonal Rule ********************************/
.hr
{
border-bottom: 1px solid #eee;
height: 1px;
text-align: center;
width: 100%;
}
.hr hr { display: none; }

/******************************* Pseudo Elements ********************************/
::-moz-selection
{
background-color: #000;
color: #fff;
}

::selection
{
background-color: #000;
color: #fff;
}

/******************************* Clear Fix *******************************
http://css-tricks.com/snippets/css/clear-fix/ - http://www.satzansatz.de/cssd/onhavinglayout.html
*/
.group:before,
.group:after
{
content: "";
display: table;
} 
.group:after { clear: both; }
.group { min-height: 0px; }