/**************** Heading ****************/
.heading { line-height: 1.2; }

h2.heading { font-size: $global-font-size + 7; }

h3.heading { font-size: $global-font-size + 3; }

h4.heading { font-size: $global-font-size + 1; }


/**************** Lined ****************/
.heading.lined
{
border-bottom: 1px solid #333;
padding-bottom: 6px;
}


/**************** Bolding ****************/
.heading, .heading.bold { font-weight: 700; }
.heading.extra-bold { font-weight: 800; }


/**************** Jumbo ****************/
.heading.jumbo
{
line-height: 1;
text-transform: uppercase;
}

$heading-h2-jumbo: $global-font-size + 27;
h2.heading.jumbo { font-size: $heading-h2-jumbo; }

$heading-h3-jumbo: $global-font-size + 21;
h3.heading.jumbo { font-size: $heading-h3-jumbo; }


/**************** Responsive ****************/
@include responsive(canvasflexible)
{

h2.heading.jumbo { @include vw($heading-h2-jumbo * .80, ($heading-h2-jumbo / ($global-width-site + $global-breakpoint-mod) * 100) + vw); }

h3.heading.jumbo { @include vw($heading-h3-jumbo * .80, ($heading-h3-jumbo / ($global-width-site + $global-breakpoint-mod) * 100) + vw); }

}


@include responsive(phablet)
{

h2.heading.jumbo { font-size: 28px; }

h3.heading.jumbo { font-size: 24px; }

}