@mixin margins($margin, $name)
{

#specificity .margin-top-#{$name} { margin-top: $margin; }

#specificity .margin-bottom-#{$name} { margin-bottom: $margin; }
#specificity .margin-bottom-#{$name} + * { margin-top: 0px; }

#specificity .margin-left-#{$name} { margin-left: $margin; }
#specificity .margin-right-#{$name} { margin-right: $margin; }

.children-margin-bottom-#{$name} > * { margin-bottom: $margin; }

}


/******************************* Margins ********************************/
@include margins(0px, "none");

@include margins(($global-margin / 2), "half");

@include margins($global-margin, "1x");

@include margins(($global-margin * 2), "2x");

@include margins(($global-margin * 3), "3x");

@include margins(($global-margin * 4), "4x");

.margin-vertical-none
{
margin-top: 0px;
margin-bottom: 0px;
}

.margin-vertical-none + * { margin-top: 0px; }
