/******************************* Content Padding ********************************/
$padding-unit: 5px;

@mixin padding($padding, $name)
{

.padding-#{$name}-all { padding: $padding; }
.padding-#{$name}.top { padding-top: $padding; }
.padding-#{$name}.bottom { padding-bottom: $padding; }
.padding-#{$name}.left { padding-left: $padding; }
.padding-#{$name}.right { padding-right: $padding; }

}

@include padding($padding-unit, "1x");

@include padding(($padding-unit * 2), "2x");

@include padding(($padding-unit * 3), "3x");

@include padding(($padding-unit * 4), "4x");