/* Setting a height to avoid rendering reflow */
.flexslider.used-equipment { min-height: 275px; }


/* See: /scss/general/anchors.scss [data-hover-effect="launch-gallery"] for relavant animations */
.used-equipment-main-image
{
max-width: 57%;
width: 100%;
background-position: center;
background-size: 100% auto;
@include transition(background-size .4s ease-in-out, background-position .4s ease-in-out);
}

.used-equipment-main-image:hover { background-size: 110% auto; }


/******************************* Events ********************************/
.event-block-container
{
background-color: $global-vermeer-yellow;
float: left;
margin-right: 12px;
overflow: hidden;						
padding: 24px 16px;
}

	.event-block
	{
	display: inline-block;						
	font-weight: bold;
	line-height: 1.2;
	vertical-align: middle;
	}

	time.event-block { padding: 0px 8px; }

		.event-block .day
		{
		display: block;
		font-size: $global-font-size + 7;						
		}						

		.event-block .month
		{
		display: block;
		font-size: $global-font-size - 1;						
		text-transform: uppercase;
		}


/******************************* Reduced Banner ********************************/
.reduced
{
background-color: #ffc425;
font-size: 12px;					
line-height: 1;
font-weight: bold;
padding: 4px 12px;
text-transform: uppercase;
text-align: center;
}

.reduced.reduced-positioned
{
position: absolute;
right: 0px;
top: 7px;
z-index: 4;
}


/******************************* Responsive ********************************/
@include responsive(phablet)
{

.equipment-gallery > li { width: 48%; }

.equipment-gallery > li:nth-child(2n+1)
{
clear: left;
margin-left: 0px;
}

}