/******************************* Responsive Tabs ********************************/
/* .accordion-group { }	*/

	.tabs.reset { overflow: inherit; }

		.tabs > li { float: left; }

		.tabs > li.selected
		{
		margin-bottom: -1px;
		padding-bottom: 1px;
		}

			.tabs > li > a
			{
			display: block;
			text-decoration: none;
			}

	/* .accordion { } */

		.accordion > dt
		{
		display: none;
		margin-top: 5px;
		}

		.accordion > dt:first-child { margin-top: 0px; }

			.accordion > dt > a
			{
			display: block;
			text-decoration: none;
			}

		.accordion > dd { display: none; }

		.accordion > dd.selected { display: block; }
		
		.tabs-mobile .accordion > dd { display: block; }

		/*
		.canvasflexible .tabs-mobile .accordion > dd { display: none; }
		.canvasflexible .tabs-mobile .accordion > dd.selected { display: block; }
		.no-canvasflexible .tabs-mobile .accordion > dd { display: block; }
		*/
		

		/* Responsive Tabs */
		.canvasflexible .tabs { display: none; }
		.canvasflexible .accordion > dt { display: block; }
		
		.canvasflexible .tabs-stay .tabs { display: block; }
		.canvasflexible .tabs-stay .accordion > dt { display: none; }
		
		/* Tabs On Mobile Only */
		#specificity .tabs-mobile .tabs,
		#specificity .tabs-mobile .accordion > dt
		{ display: none; }
		
		.always-accordion .tabs { display: none; }
		.always-accordion .accordion > dt { display: block; }
		

/******************************* Default Theme ********************************/
/* Shared Borders */
.accordion-group[data-theme=default] .tabs.reset,
.accordion-group[data-theme=default] .tabs > li,
.accordion-group[data-theme=default] .canvasflexible .accordion,
.accordion-group[data-theme=default] .always-accordion .accordion,
.accordion-group[data-theme=default] .accordion > dt,
.accordion-group[data-theme=default] .accordion > dd
{
border-style: solid;
border-color: #ccc;
}

/* Seemless Tab Color */
.accordion-group[data-theme=default] .tabs > li.selected,
.accordion-group[data-theme=default] .accordion > dd
{ background-color: #fff; }


/* .accordion-group { }	*/

	/* .tabs { } */

	.accordion-group[data-theme=default] .tabs { border-width: 0px 0px 1px 0px; }

		.accordion-group[data-theme=default] .tabs > li
		{
		background-color: #eee;
		border-width: 1px 1px 0px 1px;
		margin-right: 5px;		
		}

			.accordion-group[data-theme=default] .tabs > li > a
			{
			color: #000;
			font-weight: bold;
			line-height: 1;
			padding: 7px 10px;			
			}
			
	.accordion-group[data-theme=default] .always-accordion .accordion { border-width: 1px 0px 0px 0px; }

		.accordion-group[data-theme=default] .accordion > dt
		{
		background-color: #e6e6e6;
		border-width: 1px;
		border-top-color: #fff;
		margin-top: 0px;
		}
		
		.accordion-group[data-theme=default] .accordion > dt:first-of-type { border-top-width: 0px; }

		.accordion-group[data-theme=default] .accordion > dt.selected { }

			.accordion-group[data-theme=default] .accordion > dt > a
			{
			color: #000;
			padding-left: 25px; /* border-width x 2 + padding-left (15) */
			padding-top: 5px;
			padding-bottom: 5px;
			font-weight: bold;
			position: relative;
			}

			.accordion-group[data-theme=default] .accordion > dt > a:before
			{
			content: "";
			border-color: transparent transparent transparent #000;
			border-style: solid;
			border-width: 5px;
			display: block;
			position: absolute;
			left: 10px;
			top: 50%;
			margin-top: -5px; /* -border-width */
			}

			.accordion-group[data-theme=default] .accordion > dt.selected > a:before
			{
			border-color: #000 transparent transparent transparent;
			margin-top: -2px;
			margin-left: -3px;
			}

		.accordion-group[data-theme=default] .accordion > dd { padding: 0px; border-width: 0px 1px 1px 1px; }

		.accordion-group[data-theme=default] .accordion > dd.selected { }


/******************************* Icon Theme ********************************/
.accordion-group[data-theme=icons] .tabs
{
border-bottom: 1px solid #333;
display: table; width: 100%;
table-layout: fixed;
}

		.accordion-group[data-theme=icons] .tabs > li,
		.accordion-group[data-theme=icons] .tabs > li.selected
		{
		background-color: #fff;		
		display: table-cell;		
		float: none;
		margin-bottom: 0px;
		padding-bottom: 0px;
		text-align: center;
		width: 100%;
		}

			.accordion-group[data-theme=icons] .tabs > li > a
			{
			color: #222;
			font-size: $global-font-size + 10;
			line-height: 1;
			padding: 10px;
			}
			
			.accordion-group[data-theme=icons] .tabs > li.selected > a { background-color: #f2f2f2; }


/******************************* Responsive ********************************/
@include responsive(phablet)
{

#specificity .tabs-mobile .tabs { display: table; }

#specificity .tabs-mobile .accordion > dt { display: none; }

#specificity .accordion > dd { display: none; }
#specificity .accordion > dd.selected { display: block; }

.accordion-group[data-theme=icons] .accordion > dd { padding: 20px 0px 0px 0px; }

#specificity .accordion-group[data-theme=icons] .heading.lined
{
border-bottom-color: transparent;
margin-bottom: $global-margin / 2;
}

}