.data
{
margin: 0px;
table-layout: fixed;
width: 100%;
}

.data th,
.data td
{ padding: 4px 12px; }

.data tbody,
.data th
{
border-top: 0px;
border-bottom: 0px;
}

.data tbody tr:nth-child(odd) { background-color: #fff; }

.data thead tr,
.data tbody tr:nth-child(even)
{ background-color: #f5f5f5; }

.data tr td,
.data tr th
{ border-left: 1px solid #ddd; }

.data tr td:first-child,
.data tr th:first-child
{ border-left: 0px; }

.data tr { border-bottom: 0px; }