@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-fpzvop');
	src:url('fonts/icomoon.eot?#iefix-fpzvop') format('embedded-opentype'),
		url('fonts/icomoon.woff?-fpzvop') format('woff'),
		url('fonts/icomoon.ttf?-fpzvop') format('truetype'),
		url('fonts/icomoon.svg?-fpzvop#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-star:before {
	content: "\e60a";
}
.icon-search2:before {
	content: "\e60b";
}
.icon-person:before {
	content: "\e60c";
}
.icon-close:before {
	content: "\e609";
}
.icon-tribar:before {
	content: "\e608";
}
.icon-external:before {
	content: "\e607";
}
.icon-phone:before {
	content: "\e603";
}
.icon-arrow-down:before {
	content: "\e604";
}
.icon-arrow-left:before {
	content: "\e605";
}
.icon-arrow-right:before {
	content: "\e606";
}
.icon-search:before {
	content: "\e601";
}
.icon-expand:before {
	content: "\e602";
}
.icon-email:before {
	content: "\e600";
}
.icon-facebook:before {
	content: "\f09a";
}
.icon-linkedin:before {
	content: "\f0e1";
}
.icon-youtube:before {
	content: "\f167";
}
.icon-twitter:before {
	content: "\f099";
}
