@media print {
.utility-bar, .header, .footer { display: none; }
.content { border-width: 0px; color: #000; float: none; padding: 0px; width: 100%; }
.content a { text-decoration: underline; border-bottom-width: 0px; }
img { max-width: 100%; }
p, h2, h3 { orphans: 3; widows: 3; } /* http://davidwalsh.name/html5-boilerplate */
}