/****************************************************************
 10. Responsive
****************************************************************/

/* http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/ */
@-ms-viewport { width: device-width; }
@-o-viewport { width: device-width; }
@viewport { width: device-width; }


@media (max-width: $global-breakpoint-canvasflexible + $global-breakpoint-mod) {

.testing body:after
{
color: #fff;
font-size: 10px;
height: 40px;
width: 40px;
line-height: 40px;
position: fixed;
right: 0px;
bottom: 0px;
text-align: center;
z-index: 100;
}

.testing body:after { background: purple; content: "940"; }

@include breakpoints(canvasflexible);

img
{
max-width: 100%;
width: auto;
}

img[height] { height: auto; }

.container .container-inside { width: auto; }

.equalheight
{
height: auto !important;
min-height: 0px !important;
}

}


@media (max-width: $global-breakpoint-tablet + $global-breakpoint-mod) {

.testing body:after { background: red; content: "800"; }

@include breakpoints(tabletportrait);

}


@media (max-width: $global-breakpoint-phablet + $global-breakpoint-mod) {

.testing body:after { background: orange; content: "660"; }

@include breakpoints(phablet);

}


@media (max-width: 480px) {

.testing body:after { background: tan; content: "480"; }

@include breakpoints(mobilelandscape);

}


@media (max-width: 320px) {

.testing body:after { background: pink; color: black; content: "320"; }

@include breakpoints(mobileportrait);

}