/******************************* Content ********************************/
.content { }

.content aside.main { width: $global-aside-width; }

/**************** Content Span ****************/
[data-cs-padding="2 0"] { padding: 40px 0px; }

[data-cs-theme="white"] { background-color: #fff; }
[data-cs-theme="gray-2"] { background-color: #eee; }
/*
I.e.
[data-cs-theme="gray-3"] { background-color: #ddd; }
[data-cs-theme="gray-4"] { background-color: #ccc; }
*/

[data-cs-border="1 0 0 0"] { border-top: 1px solid; }

[data-cs-border][data-cs-theme="gray-2"] { border-color: #ccc; }


/**************** Fixed ****************/
.content-span-fixed
{
background-position: center center;
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
}

	/* http://stackoverflow.com/questions/20268962/fixed-attachment-background-image-flicker-disappear-in-chrome-when-coupled-with */
	.content-span-fixed-inner
	{
	padding-top: 104px;
	padding-bottom: 104px;
	position: relative;
	z-index: 1;
	}

		.content-span-fixed-inner:before
		{
		content: "";
		background-color: #333;
		height: 100%;
		width: 100%;		
		/*
		Won't work - http://stackoverflow.com/questions/7510268/is-there-a-way-to-make-ie8-honour-opacity-on-an-before-pseudo-element
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=60)";
		filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
		*/
		opacity: 0.6;		
		position: absolute;
		left: 0px;
		top: 0px;
		z-index: 2;
		}

		.content-span-fixed .container-inside { z-index: 3; }

			.content-span-fixed p { font-size: $global-font-size + 1; }


/******************************* Responsive ********************************/
@include responsive(canvasflexible)
{

.content-span-fixed { background-attachment: scroll; }

}