/******************************* Footer ********************************/
.footer
{
border-top: 1px solid #ddd;
color: #bbb;
clear: both;
font-size: $global-font-size - 1;
padding: 30px 0px;
}

	.footer-text a
	{
	color: #999;
	line-height: 1.5;
	@include transition($global-transition);	
	}

	.footer-text a:hover { color: #333; }

.footer-aside { text-align: right; }

	.footer-aside .social > li { display: inline-block; }


/******************************* Responsive ********************************/
@include responsive(mobilelandscape)
{
	.footer,
	.footer-aside
	{ text-align: center; }
	
	.footer-links > ul
	{
	display: inline-block;
	float: none;
	text-align: left;
	vertical-align: top;
	}
	
	.footer-aside { margin-top: $global-margin * 2; }
	
}