/******************************* Utility Bar ********************************/
$utility-bar-min-height: 32px; /* Magic Number */
$utility-bar-item-padding: 6px;

body[data-utility-bar="true"] .container { padding-top: $utility-bar-min-height; }

body[data-utility-bar="false"] .utility-bar { display: none; }
body[data-utility-bar="true"] .utility-bar { display: block; }

.utility-bar
{
background-color: #fff;
font-size: $global-font-size - 1;
min-height: $utility-bar-min-height;
position: fixed;
left: 0px;
top: 0px;
width: 100%;
z-index: $utility-z-index;
}

	.utility-bar a { color: $global-font-color-darkest; }

	.utility-bar-item
	{
	float: left;
	margin-left: 28px;
	padding-top: $utility-bar-item-padding;
	padding-bottom: $utility-bar-item-padding;
	}

	.utility-bar-item:first-child { margin-left: 0px; }

		.utility-bar-item [class*="icon-"]:before
		{
		font-size: 20px;
		float: left;
		margin-right: 9px;
		}

	.nav-mobile .utility-bar-item { padding: 0px; }

		.nav-mobile .utility-bar-item,
		.nav-mobile .utility-bar-item [class*="icon-"]:before
		{ float: none; }

	.utility-bar-aside { float: right; }

/**************** Language ****************/
.utility-bar-language
{
float: left;
margin-right: 30px;
position: relative;
}

.nav-mobile .utility-bar-language
{
float: none;
margin-right: 0px;
}

.nav-mobile .utility-bar-language dd
{
right: auto;
left: 0px;
}

.nav-mobile .utility-bar-language dt:hover,
.nav-mobile .utility-bar-language dt.active,
.nav-mobile .utility-bar-language dt.active:hover
{ background-color: transparent; }

	.utility-bar-language dt
	{
	cursor: pointer;
	line-height: $utility-bar-min-height;
	min-height: $utility-bar-min-height;
	padding: 0px $utility-bar-item-padding;	
	}

		.utility-bar-language dt:hover 
		{
		background-color: #eee;
		@include transition($global-transition);
		}
		
		.utility-bar-language dt.active,
		.utility-bar-language dt.active:hover
		{
		background-color: #333;
		color: #fff;
		@include transition(none);
		}
		
			.utility-bar-language dt span:after { margin-left: 2px; }

	$utility-bar-language-color: #1f1f1f;
	.utility-bar-language dd
	{
	background-color: $utility-bar-language-color;
	background-color: rgba($utility-bar-language-color,.9);
	min-width: 138px;
	padding: 0px 6px;
	position: absolute;
	top: 100%;
	right: 0px;
	z-index: 1;
	}

		.utility-bar-language dd li { border-top: 1px solid #ccc; }

		.utility-bar-language dd li:first-child { border-top: 0px; }

			.utility-bar-language dd a
			{
			color: #fff;
			display: block;
			padding: 10px 0px;
			@include transition($global-transition);
			}

			.utility-bar-language dd a:hover { color: #ddd; }


/**************** Social ****************/
$social-size: 22px;

.utility-bar .social
{
float: left;
padding: 5px 0px;
}

.social { overflow: hidden; }

	.social li { margin-left: 9px; }
	.social li:first-child { margin-left: 0px; }

		.social a
		{
		background-color: #666;
		border-radius: 2px;
		color: #fff;
		font-size: $social-size - 4;
		line-height: $social-size;
		display: block;
		height: $social-size;
		width: $social-size;
		text-align: center;
		@include transition($global-transition);		
		}

		.social a:hover { background-color: #000; }
		
			.social a span { display: none; }

.nav-mobile .social
{
background-color: #666;
padding: 20px;
text-align: center;
}

	.nav-mobile .social li
	{
	float: none;
	display: inline-block;
	}

		#specificity .nav-mobile .social a
		{
		background-color: #000;
		color: #666;
		}


/******************************* Header ********************************/
.faux-header { display: none; }

$header-bg-color: #222;
.header
{
background-color: $header-bg-color;
background-color: rgba($header-bg-color,.8);
border-bottom: 5px solid $global-vermeer-yellow;
/*position: absolute;*/
left: 0px;
width: 100%;
z-index: $utility-z-index - 1;
}

body[data-utility-bar="true"] .header { top: $utility-bar-min-height; }
body[data-utility-bar="false"] .header { top: 0px; }

	.header h1
	{
	float: left;
	display: table;
	height: $global-header-height;
	}

		.header h1 a
		{
		display: table-cell;
		vertical-align: middle;
		}

			.header h1 img
			{
			max-height: $global-header-height;
			max-width: 200px;
			}

	.mobile-header-button,
	.mobile-header-button span
	{ display: none; }


/******************************* Responsive ********************************/
@mixin header-responsive($root-selector)
{

$mobile-logo-height: 37px;
$mobile-header-padding: 15px;

#{$root-selector} body[data-utility-bar] .container { padding-top: $mobile-logo-height + $mobile-header-padding; }

#{$root-selector} body[data-utility-bar] .utility-bar { display: none; }


/**************** Faux Header ****************/
#{$root-selector} .nav { display: none; }

#{$root-selector} .faux-header
{
display: block;
height: $mobile-logo-height + ($mobile-header-padding * 2) +  5;
position: fixed;
top: 0px;
left: 0px;
width: 100%;
z-index: $utility-z-index - 1;
}

#{$root-selector}.no-fixed-header .faux-header { position: absolute !important; }

/* TODO - firefox animation stopped working now */
#{$root-selector}.nav-open .faux-header
{
height: 100%;
overflow: auto;

/* @iOS 8 */
overflow-y: scroll;
-webkit-overflow-scrolling: touch;

/*cursor: pointer;*/
}

#{$root-selector}.nav-open,
#{$root-selector}.nav-open body
{
height: 100%;
overflow: hidden;
}


/* No fixed header */
#{$root-selector}.no-fixed-header.nav-open .faux-header,
#{$root-selector}.no-fixed-header.nav-open,
#{$root-selector}.no-fixed-header.nav-open body
{
height: auto;
overflow: inherit;
}

	#{$root-selector} .faux-header .container-inside
	{
	height: $mobile-logo-height + ($mobile-header-padding * 2) +  5;
	position: relative;
	}


/**************** Header ****************/
#{$root-selector} #specificity .header
{
background-color: #333;
@include box-sizing(border-box);
padding: $mobile-header-padding;
position: fixed;
top: 0px;
z-index: $utility-z-index;
}

#{$root-selector}.no-fixed-header #specificity .header { position: absolute !important; }

	#{$root-selector} .header .container-inside { position: relative; }

		#{$root-selector} .header h1
		{
		display: block;
		height: $mobile-logo-height;
		float: none;		
		text-align: center;
		}

			#{$root-selector} .header h1 a { display: inline-block; }

				#{$root-selector} .header h1 img
				{
				max-height: $mobile-logo-height;
				max-width: 150px;
				}

		/* Buttons */
		#{$root-selector} .mobile-header-button
		{
		color: #999;
		display: block;
		font-size: $global-font-size + 15;
		position: absolute;
		top: 0px;
		/*z-index: 4;*/
		}
	
		#{$root-selector} .mobile-header-button:hover { color: #fff; }
		
		#{$root-selector} .mobile-nav-button { left: 0px; }
		#{$root-selector} .mobile-phone-button { right: 0px; }
			
		#{$root-selector}.nav-open .mobile-nav-button.icon-tribar { display: none; }
		#{$root-selector}.nav-open .mobile-nav-button.icon-close { display: block; }
		
		#{$root-selector}.nav-closed .mobile-nav-button.icon-tribar { display: block; }
		#{$root-selector}.nav-closed .mobile-nav-button.icon-close { display: none; }

}


@include responsive(canvasflexible) { @include header-responsive(""); }


/******************************* Touch ********************************/
@include header-responsive(".touch");