/******************************* Navigation ********************************/
$nav-item-width: 102px;

.nav
{
float: right;
max-width: 7 * $nav-item-width;
}

#specificity .nav .hide { display: none; }

	.nav ul
	{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	display: block;
	}

		.nav .nav-list > li
		{
		display: block;
		float: left;
		position: relative;
		width: $nav-item-width;
		}

			.nav .nav-list > li > a
			{
			color: #fff;
			display: block;
			font-size: $global-font-size - 1;
			line-height: 1.5;
			font-weight: bold;
			padding: 0px 5px;
			text-transform: uppercase;
			@include transition($global-transition);
			}

			.nav .nav-list > li:hover > a { background-color: #3a3a3a; }
			
			.nav .nav-list > li.selected:hover > a { background-color: #222; }
			
			.nav .nav-list > li.selected:after
			{
			content: "";
			background-color: $global-vermeer-yellow;
			height: 4px;
			width: 100%;
			position: absolute;
			bottom: 0px;
			left: 0px;
			}
			
			.nav .nav-list > li.selected.has-children:hover:after { display: none; }			

				/* http://css-tricks.com/vertically-center-multi-lined-text/ */
				.nav .nav-vertical-align { display: table; width: 100%; }

					.nav .nav-vertical-align > span
					{
					display: table-cell; 
					text-align: center;
					vertical-align: middle;
					height: $global-header-height;
					overflow: hidden;
					}

				.nav .nav-list ul
				{
				background-color: #222;
				display: none;
				position: absolute;
				left: 0px;
				top: 100%;
				width: 200px;
				z-index: $utility-z-index - 2;
				}

				.nav .nav-list ul.rtl
				{
				left: auto;
				right: 0px;	
				}

				.nav .nav-list > li:hover ul { display: block; }

					.nav .nav-list ul li { }

						.nav .nav-list ul li a
						{
						color: #fff;
						display: block;
						font-size: $global-font-size - 2;
						font-weight: bold;
						padding: 8px 16px;
						@include transition($global-transition);
						}

						.nav .nav-list ul li a:hover { background-color: #444; }

						.nav .nav-list ul li:first-child a { border-top: 0px; }
						
						.nav .nav-list ul li:last-child a { border-bottom: 0px; }


/******************************* Mobile Nav ********************************/
$mobile-nav-arrow-width: 6px;
$mobile-nav-font-size: $global-font-size - 1;
$mobile-nav-font-color: #fff;

.nav-mobile
{
position: absolute;
left: 0px;
top: 100%;
max-width: 300px;
width: 100%;

@include transform(translateY(-100%));
@include backface-visibility(hidden);
/* TODO - Mobile browser doesn't support transforms */

z-index: $utility-z-index - 1;
}

.nav-mobile .hide { display: block; }	

.nav-divider { border-top: 1px solid $global-vermeer-yellow; }

.nav-mobile .static a,
.nav-mobile .static
{ color: $mobile-nav-font-color; }

	.nav-mobile .nav-list
	{
	background-color: #333;
	list-style-type: none;
	margin: 0px;
	padding: 0px;	
	}	
	
	$nav-transition-speed: .25s;
	
	/* Open Transition */
	.nav-open .nav-mobile { @include transition(transform $nav-transition-speed ease-in-out $nav-transition-speed); }
	
	.nav-open .nav-opaque-layer { @include transition(opacity $nav-transition-speed linear 0s); }
	
	/* Closed Transition */
	.nav-closed .nav-mobile { @include transition(transform $nav-transition-speed ease-in-out 0s); }
	
	.nav-closed .nav-opaque-layer { @include transition(opacity $nav-transition-speed linear $nav-transition-speed, height 0s linear ($nav-transition-speed * 2)); }
	
	
	/* Open */
	.nav-open .nav-mobile { @include transform(translateY(0%)); }
	
	.nav-open .nav-opaque-layer
	{
	height: 100%;
	opacity: 0.8;
	}
	
	.nav-opaque-layer
	{
	background-color: #000;
	cursor: pointer;
	opacity: 0;
	overflow: hidden;	
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	z-index: $utility-z-index - 2;
	}
	
	/* Exception */
	.mobile_safari[class*="ios_6"] .nav-opaque-layer { display: none; position: absolute; }
		
	
	/* Closed */
	.nav-closed .nav-opaque-layer
	{
	height: 0px;
	opacity: 0;	
	}

		.nav-mobile .nav-list > li.dynamic > a
		{
		color: $mobile-nav-font-color;
		display: block;		
		font-size: $mobile-nav-font-size;
		font-weight: bold;		
		text-transform: uppercase;			
		}
		
		.nav-mobile .nav-list > li.dynamic > a,		
		.nav-mobile .nav-list .dynamic ul a,
		.nav-padding
		{ padding: 20px $mobile-nav-font-size + ($mobile-nav-arrow-width * 2); }
		
		.nav-mobile .nav-list > li.dynamic.has-children > a { position: relative; }
		
			.nav-mobile .nav-list > li.dynamic.has-children > a:after
			{
			content: "";
			border-color: transparent transparent transparent $mobile-nav-font-color;
			border-style: solid;
			border-width: $mobile-nav-arrow-width;			
			height: 0px;
			width: 0px;
			margin-top: -$mobile-nav-arrow-width;
			position: absolute;
			left: 10px;
			top: 50%;
			}

			.nav-mobile .nav-list > li.dynamic.has-children.mobile-selected > a:after
			{
			border-color: $mobile-nav-font-color transparent transparent;
			margin-top: -$mobile-nav-arrow-width / 2;
			left: 5px;
			}

			.nav-mobile .nav-list > li.dynamic.has-children > ul
			{
			display: none;
			list-style-type: none;
			margin: 0px;
			padding: 0px;
			}

			.nav-mobile .nav-list > li.dynamic.mobile-selected a + ul { display: block; }

				.nav-mobile .nav-list .dynamic ul a
				{					
				color: #ddd;
				display: block;
				font-size: $global-font-size - 1;				
				padding-top: 6px;
				padding-bottom: 6px;
				@include transition($global-transition);
				}
				
				.nav-mobile .nav-list .dynamic ul a:hover { color: #fff; }