html
{
background-color: $global-page-bgcolor;
overflow-y: scroll; /* http://webdevel.blogspot.com/2007/05/controlling-browser-scrollbars.html */
text-rendering: optimizelegibility;
-webkit-tap-highlight-color: rgba(0,0,0,0);
}

body, select, textarea, input, button
{
color: $global-font-color-darkest;
font-family: $global-font-family;
font-size: $global-font-size;
}

body
{
text-align: left;
vertical-align: baseline;
}

.container { }

.container-inside
{
margin: 0px auto;
position: relative;
width: 940px;
padding: 0px $global-container-padding;
}