@import "template/global/global";

.header { position: absolute; }

/******************************* Splash ********************************/
.splash
{
min-height: 489px;
overflow: hidden;
position: relative;
z-index: 1;
background-color: #000;
}

.splash [data-image-large][data-image-small]
{
background-size: cover;
background-position: center top;
background-repeat: no-repeat;	
}

.splash-image-slider,
.splash-slider-controls,
.splash .slides > li:after
{
position: absolute;
left: 0px;
top: 0px;
height: 100%;
width: 100%;
}

.splash .slides > li:after
{
content: "";
background: #2a2a2a;
opacity: .1;
z-index: 1;
}

.no-opacity .splash .slides > li:after { display: none; }

.splash .slides > li .container-inside
{
position: relative;
z-index: 2;
}
	
	/**************** Image ****************/
	.splash-image-slider { z-index: 2; }
	
		.splash-image-slider li { position: relative;  }
	
			.splash-image
			{
			display: none;
			padding-top: 50%;
			}	

	
	/**************** Controls ****************/
	/* This probably won't work in old IE. That is, there will be a z-index issue where the slider controls won't show. */
	.splash-slider-controls { /*z-index: 2;*/ }
	
	.splash-slider-controls .flex-control-nav,
	.splash-slider-controls .flex-direction-nav a
	{ z-index: 4; }
	
	
	/**************** Content ****************/
	.splash-content-slider
	{
	position: relative;
	z-index: 3;
	}
	
		.splash-content
		{
		color: #fff;
		margin: 0px 40px;
		max-width: 500px;
		padding: (104px + $global-header-height) 0px 104px 0px; /* Desktop only - pushes splash below header, then adds padding to the top and bottom of it's content */
		@include text-shadow($global-shadow);
		}
	
			.splash-content h3 { font-size: $global-font-size + 5; }
			
			.splash-content > :first-child { margin-top: 0px; }
			.splash-content > :last-child { margin-bottom: 0px; }


/**************** Responsive ****************/
@include responsive(canvasflexible)
{

.splash
{
background-color: #fff;
min-height: 0px;
text-align: center;
}

.splash .slides > li:after { display: none; }

	/**************** Image ****************/
	.splash-image-slider-container { position: relative; }

		.splash-image-slider { position: static; }

			.splash-image { display: block; }


	/**************** Controls ****************/
	.splash-slider-controls .flex-control-nav
	{
	top: auto;
	bottom: 10px;
	}
	
	.splash-slider-controls .flex-direction-nav a
	{
	top: auto;
	bottom: 0px;
	}


	/**************** Content ****************/
	.splash-content-slider .slides li
	{
	background-image: none !important;
	min-height: 0px !important;
	}
	
		.splash-content
		{
		max-width: none;
		margin: 0px 0px;
		padding: 20px 0px;
		}

			.splash-content
			{
			color: #000;
			text-shadow: none;
			}

}